Library/*
Temp/*
Library/metadata/
Library/
Temp/
WeCanTango2.sln
WeCanTango2.userprefs
WeCanTango2-csharp.sln
*.apk
*.csproj
*.sln
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-vs.csproj
obj/*
*.suo
ProjectSettings/ProjectVersion.txt
ProjectSettings/EditorBuildSettings.txt